<div class="container">
  <div class="benefit">
    <div class="emoji">{{ block.settings.block1_emoji }}</div>
    <div class="text-container">
      <p class="primary-text">{{ block.settings.block1_primary_text }}</p>
      <p class="secondary-text">{{ block.settings.block1_secondary_text }}</p>
    </div>
  </div>

  <div class="benefit">
    <div class="emoji">{{ block.settings.block2_emoji }}</div>
    <div class="text-container">
      <p class="primary-text">{{ block.settings.block2_primary_text }}</p>
      <p class="secondary-text">{{ block.settings.block2_secondary_text }}</p>
    </div>
  </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .benefit {
    height: auto;
    border: 1px solid #001;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .emoji {
    padding: 4px;
    width: auto;
    height: auto;
    align: center;
    justify-content: center;
    text-size: 4rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .primary-text {
    font-weight: bold; /* Texto primario m치s destacado */
    margin: 0; /* Elimina margen predeterminado */
    font-size: 12px; /* Tama침o de fuente personalizado */
  }

  .secondary-text {
    font-size: smaller; /* Texto secundario m치s peque침o */
    margin: 0; /* Elimina margen predeterminado */
    font-size: 8px; /* Tama침o de fuente personalizado */
  }
</style>

{% schema %}
{
  "name": "Benefits Section",
  "target": "section",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "settings": [
    {
      "type": "text",
      "id": "block1_primary_text",
      "label": "First Block Primary Text",
      "default": "Free Shipping"
    },
    {
      "type": "text",
      "id": "block1_secondary_text",
      "label": "First Block Secondary Text",
      "default": "In +50$ orders"
    },
    {
      "type": "text",
      "id": "block1_emoji",
      "label": "First Block Emoji",
      "default": "游눳"
    },
    {
      "type": "text",
      "id": "block2_primary_text",
      "label": "Second Block Primary Text",
      "default": "Free Shipping"
    },
    {
      "type": "text",
      "id": "block2_secondary_text",
      "label": "Second Block Secondary Text",
      "default": "In +50$ orders"
    },
    {
      "type": "text",
      "id": "block2_emoji",
      "label": "Second Block Emoji",
      "default": "游눳"
    }
  ]
}
{% endschema %}
