<div class="container">
  <div class="benefit">
    <div class="emoji">{{ block.settings.block1_emoji }}</div>
    <div class="text-container">
      <p class="primary-text">{{ block.settings.block1_primary_text }}</p>
      <p class="secondary-text">{{ block.settings.block1_secondary_text }}</p>
    </div>
  </div>

  <div class="benefit">
    <div class="emoji">{{ block.settings.block2_emoji }}</div>
    <div class="text-container">
      <p class="primary-text">{{ block.settings.block2_primary_text }}</p>
      <p class="secondary-text">{{ block.settings.block2_secondary_text }}</p>
    </div>
  </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 8px; /* Espacio entre columnas y filas */
    padding: 8px;
    justify-content: center; /* Centra el contenido en el contenedor */
    align-items: start; /* Alinea los ítems al inicio para evitar desalineaciones */
  }

  .benefit {
    background-color: {{ block.settings.benefit_color }};
    border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
    border-radius: {{ block.settings.benefit_radius }}px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 18px;
    box-sizing: border-box;
    width: 100%; /* Utiliza todo el ancho disponible de la columna */
    height: 100%;
  }

  .emoji {
    font-size: 2rem;
    margin-right: 12px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    {% comment %} align-items: flex-start; {% endcomment %}
    justify-content: center;
  }

  .primary-text, .secondary-text {
    margin: 0;
  }

  .primary-text {
    font-weight: bold;
    font-size: 14px;
    color: {{ block.settings.primary_text_color }};
  }

  .secondary-text {
    font-size: 12px;
    color: {{ block.settings.secondary_text_color }};
  }

  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
  }
</style>

{% schema %}
{
  "name": "Benefits Section",
  "target": "section",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "settings": [
    {
      "type": "text",
      "id": "block1_primary_text",
      "label": "First Block Primary Text",
      "default": "Free Shipping"
    },
    {
      "type": "text",
      "id": "block1_secondary_text",
      "label": "First Block Secondary Text",
      "default": "In +50$ orders"
    },
    {
      "type": "text",
      "id": "block1_emoji",
      "label": "First Block Emoji",
      "default": "💵"
    },
    {
      "type": "text",
      "id": "block2_primary_text",
      "label": "Second Block Primary Text",
      "default": "Free Shipping"
    },
    {
      "type": "text",
      "id": "block2_secondary_text",
      "label": "Second Block Secondary Text",
      "default": "In +50$ orders"
    },
    {
      "type": "text",
      "id": "block2_emoji",
      "label": "Second Block Emoji",
      "default": "💵"
    },
    {
      "type": "range",
      "id": "benefit_radius",
      "label": "Benefit Border Radius",
      "min": 0,
      "max": 100,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "benefit_color",
      "label": "Benefit Background Color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "label": "Border Thickness",
      "min": 0,
      "max": 10,
      "default": 1,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "primary_text_color",
      "label": "Primary Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "secondary_text_color",
      "label": "Secondary Text Color",
      "default": "#000"
    }
  ]
}
{% endschema %}
