<div class="container">
  <div class="text-container">
    <h2 class="title" style="color: {{ block.settings.title_color }};">{{ block.settings.title }}</h2>
    <p class="paragraph">{{ block.settings.paragraph_text }}</p>
  </div>
  <div class="gallery">
    <div class="img-box" style="background-image: url({{ block.settings.image_with_text_image_1 | img_url: '500x' }});">
      <h3>Madison</h3>
    </div>
    <div class="img-box" style="background-image: url({{ block.settings.image_with_text_image_2 | img_url: '500x' }});">
      <h3>Martin</h3>
    </div>
    <div class="img-box" style="background-image: url({{ block.settings.image_with_text_image_3 | img_url: '500x' }});">
      <h3>Jose</h3>
    </div>
    <div class="img-box" style="background-image: url({{ block.settings.image_with_text_image_4 | img_url: '500x' }});">
      <h3>Cristiano</h3>
    </div>
  </div>
</div>

<style>
  .container {
    width: 100%;
    height: auto; /* Cambio para mejor adaptación en móviles */
    background-color: {{ block.settings.section_bg_color }};
    display: row;
    align-items: center;
    justify-content: center;
    padding: 36px; /* Agregar algo de padding para no tocar los bordes */
    border-radius: {{ block.settings.section_radius }}px;
  }

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Asegurar que la galería no sobrepase el ancho del contenedor */
  }
  .img-box {
    width: 150px;
    height: 300px;
    margin: 10px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.5s ease;
  }

  .img-box h3 {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
  }

  .text-container {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: {{ block.settings.title_color }};

  }
  .text-container h2 {
    margin: {{ block.settings.section_margin }}px;
  }

  .paragraph {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
  }


  /* Eliminar el :hover de aquí si decides usar JavaScript para móviles */
  @media (hover: hover) {
    .img-box:hover {
      width: 400px; /* Esto puede ser demasiado grande para algunos contenedores */
    }

    .img-box:hover h3 {
      opacity: 1;
      bottom: 20px;
    }
  }

  {% comment %} hacer que la imagen en la que se hace click en version mobile se active (cambiar height) {% endcomment %}


  @media (max-width: 800px) {
    .img-box {
      width: 300px;
      height: 150px;
    }
  }

  .img-box.expanded {
    width: 400px; /* Expande la caja cuando está activa */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const boxes = document.querySelectorAll('.img-box');

    boxes.forEach((box) => {
      box.addEventListener('click', function () {
        // Toggle class to expand or collapse the box
        this.classList.toggle('expanded');
        this.querySelector('h3').style.opacity = this.classList.contains('expanded') ? '1' : '0';
        this.querySelector('h3').style.bottom = this.classList.contains('expanded') ? '20px' : '10px';
      });
    });
  });
</script>

{% schema %}
{
  "name": "Image Gallery Section",
  "target": "section",
  "settings": [
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#f2e9ff"
    },
    {
      "type": "range",
      "id": "section_radius",
      "label": "Border Radius",
      "default": 24,
      "min": 0,
      "max": 50
    },
    {
      "type": "range",
      "id": "section_margin",
      "label": "Section Margin",
      "default": 16,
      "min": 0,
      "max": 50
    },
    {
      "type": "text",
      "id": "paragraph_text",
      "label": "Paragraph Text",
      "default": "Meet our team of experts"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Team"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#121212"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_1",
      "label": "Image for Madison"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_2",
      "label": "Image for Martin"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_3",
      "label": "Image for Jose"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_4",
      "label": "Image for Cristiano"
    }
  ]
}
{% endschema %}
